@use "./../foundation/variable" as *;

.l-header {
  position: absolute;
  top: 0;
  z-index: 1;
  display: grid;
  grid-template-columns: 25vw 25vw 25vw 25vw;

  &__nav {
    grid-column: 4;
  }
  &__lists {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 3vh;
    font-size: 1.2vw;
    gap: 1vw;
  }
  &__list {
  }
}
